<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Library </h1>
    <p>
      your Book_id is: <%= @book_id %><br>
      your user_id is: <%= @user_id %><br>
      your is_returned Date: <%= @is_returned %><br>
      your return_dt   Date: <%= @return_dt %><br>
      your issued_on Date: <%= @issued_on %><br>
    </p>
    <p>
      If Any Issue Regarding Contact to Library Owner.
    </p>
    <p>Thanks for Library and have a great day!</p>
  </body>
</html>












